html
    head
        title Detail View
        link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        script(src='/components/d3/d3.js')
        script(src='/components/jquery/dist/jquery.js')
        require('bootstrap')

    body
        h1 Detail
            div= tweet.text
            form
                div(class="form-group")
                    label(for="noun_phrases") noun phrases:
                    input(type="text" id="noun_phrases" value=analysis.noun_phrases class="form-control")
                div(class="form-group")
                    label(for="sentiment.polarity") sentiment polarity:
                    input(type="text" id="sentiment.polarity" value=analysis.sentiment.polarity class="form-control")
                div(class="form-group")
                    label(for="sentiment.subjectivity") sentiment subjectivity:
                    input(type="text" id="sentiment.subjectivity" value=analysis.sentiment.subjectivity class="form-control")
                div(class="form-group")
                    label(for="flesch-kincaid") flesch-kincaid:
                    input(type="text" id="flesch-kincaid" value=analysis.flesch_kincaid class="form-control")
